<br>
<h4 class="text-center">Edit Booking Details</h4>

<form action=<%= "/bookings/#{@bookings.id}" %> method="put">
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" class="form-control" placeholder="Enter location" name="location" value=<%= @booking.location %>  required>
    <br>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <input type="text" id="status" class="form-control" placeholder="Enter status" name="status" value=<%= @booking.status %> required>
    <br>
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input type="text" id="duration" class="form-control" placeholder="Enter duration" name="duration" value=<%= @booking.duration %> required>
    <br>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" id="price" class="form-control" placeholder="Enter price" name="price" value=<%= @booking.price %> required>
    <br>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
