Bookings Edit


<form action=<%= "/bookings/#{@booking.id}" %> method="put">

  <label for="location">Location</label>
  <input type="text" placeholder="Enter Location..." id="location" name="location" value=<%= @booking.location %> ><br><br>

  <label for="duration">duration</label>
  <input type="text" placeholder="Enter duration..." id="duration" name="duration" value=<%= @booking.duration %> ><br><br>

  <label for="price">price</label>
  <input type="text" placeholder="Enter price..." id="price" name="price" value=<%= @booking.price %> ><br><br>

  <label for="status">status</label>
  <input type="text" placeholder="Enter status..." id="status" name="status" value=<%= @booking.status %> ><br><br>


  <input type="submit" value="Submit" >
</form>
