<h1>Bookings</h1>

<div id="bookings">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Location</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Status</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.location %></td>
        <td><%= booking.duration %></td>
        <td><%= booking.price %></td>
        <td><%= booking.status %></td>
        <td colspan="2">
          <a href=<%= "/bookings/#{booking.id}" %>>show</a>
          <a href=<%= "/bookings/#{booking.id}/edit" %>>Edit</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
