<div>
  <p>
    <strong>Booking location:</strong>
    <%= @booking.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @booking.status %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @booking.duration %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @booking.price %>
  </p>

  <p>
    <a href=<%= "/bookings/#{@booking.id}/edit" %>>Edit</a>
    <li><%= link_to "Destroy", bookings_path(@booking), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  </p>
</div>
