Customers index

<h1>Customers</h1>

<ul>
  <a href=<%= "/customers/new" %>>
    new
  </a>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.name %>
      <%= customer.phone %>
      <%= customer.email %>
      <a href=<%= "/customers/#{customer.id}" %>>
        show
      </a>

      </li>
  <% end %>
</ul>
