<h1>Customers</h1>

<div id="customers">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>

    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td colspan="2">
          <a href=<%= "/customers/#{customer.id}" %>>show</a>
          <a href=<%= "/customers/#{customer.id}/edit" %>>Edit</a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
