<h1>Customers</h1>

<div id="customers">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td colspan="3">
          <a href=<%= "/customers/#{customer.id}" %>>Show</a>
          <a href=<%= "/customers/#{customer.id}/edit" %>>Edit</a>
          <%= link_to "Destroy", customers_path(customer), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
